---
layout : layouts/base.njk
---

	<!-- Intro -->
	<section class="intro">
		<header>
			<h1>
				<a href="{{ data.product }}">{{ data.app_title }}</a>
			</h1>
			<p>
				{{ data.app_subtitle }}
			</p>
			<ul class="actions">
				<li><a href="#first" class="arrow scrolly"><span class="label">Mai Mult</span></a></li>
			</ul>
		</header>
		<div class="content">
			<span class="image fill" data-position="center"><img src="images/pic01.jpg" alt="" /></span>
		</div>
	</section>

	<!-- Section -->
	<section id="first">
		<header>
			<h2>
				Despre noi
			</h2>
		</header>
		<div class="content">
			<p>
				Te așteptăm cu drag să pășești pe meleagurile noastre. Fie că vrei să faci un popas pentru câteva zile, să-ți odihnești mintea și sufletul, fie că vrei să te oprești la o masă caldă, noi am pregătit pernele, iar bucătăresele au nevoie doar de câteva cuvinte ca să se pună pe treabă.
				<br />
				Dacă ești un iubitor de liniște și ți-e dor de un loc unde timpul stă și respiră, ai ajuns unde trebuie!
			</p>
			
			<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
		</div>
	</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Bucurie într-un petec de lume
						</h2>
					</header>
					<div class="content">
						<p>
							Ne face o mare plăcere să aducem veselie și să-i mulțumim pe oaspeții noștrii, de aceea ne-am specializat în evenimente pentru
							grupuri restrânse - petreceri între prieteni, sărbători în familie, mese de afaceri.
							<br />
							 Organizăm și botezuri sau nunți – toate bucuriile omului! 
							 Salonul de jos are capacitatea maxima de 32, cel de sus de 20, pe când terasa, în vreme bună, poate fi folosită pentru bufet.
						</p>
						<ul class="feature-icons">
							<li class="icon solid fa-envelope"> <a href="mailto:{{ data.email }}">{{ data.email }}</a></li>
							<li class="icon solid fa-phone"><a href="tel:{{ data.phone }}">{{ data.phone }}</a></li>
							<li class="icon solid fa-gift">Parcare Gratuita</li>
							<li class="icon solid fa-signal">WiFi Gratuit</li> 
						</ul>
						<p>
							<strong>Va asteptam cu drag</strong>.
						</p>
					</div>
				</section>

				<!-- Section -->
				<section>
					<header>
						<h2>
							Servicii
						</h2>
					</header>
					<div class="content">

						<p>
							<strong>Cazare</strong> - Trei apartamente spațioase și o cameră se găsesc între zidurile castelului, iar masa o poți lua, după cum dă vremea, fie înauntru, fie afară.
							<br />
							<strong>Restaurant</strong> -  Aici se poate lua o cină romantică, dar și o petrecere între prieteni sau familie. De Crăciun vin Călușarii, de Paște ouăle stau colorate pe mese și vara e răcoros, protejat de zidurile groase.
							<br />
							<strong>MiniSpa pentru trup</strong> - La doar zece minute de Vila Castelul Maria, oferim într-o locație magică un spațiu pentru jacuzzi sau saună, de închiriat.
						</p>

						<!-- Section -->
						<section>
							<header>
								<p>
									Răsfățați-vă trupul și simțurile in locatia noastra
								</p>
							</header>
							<div class="content">
								<div class="gallery">
									<a href="images/gallery/fulls/01.jpg" class="landscape"><img src="images/gallery/thumbs/01.jpg" alt="" /></a>
									<a href="images/gallery/fulls/02.jpg"><img src="images/gallery/thumbs/02.jpg" alt="" /></a>
									<a href="images/gallery/fulls/03.jpg"><img src="images/gallery/thumbs/03.jpg" alt="" /></a>
									<a href="images/gallery/fulls/04.jpg" class="landscape"><img src="images/gallery/thumbs/04.jpg" alt="" /></a>
								</div>
							</div>
						</section>

					</div>
				</section>
